<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3a5e0">  <td>21/02/15 20:48:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AndroidDemoTest.setUp(java.lang.String)[pri:0, instance:com.experitest.auto.AndroidDemoTest@5a5a729f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="d3a5e0">  <td>21/02/15 20:49:08</td>   <td>22481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AndroidDemoTest.test()[pri:0, instance:com.experitest.auto.AndroidDemoTest@5a5a729f]">test</td> 
  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="d3a5e0">  <td>21/02/15 20:49:18</td>   <td>32826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AndroidDemoTest.tearDown()[pri:0, instance:com.experitest.auto.AndroidDemoTest@5a5a729f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
</table>
